<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
          <h2 class="section-heading">Let's Get In Touch!</h2>
          <hr class="primary">
          <p>Address: R4-07, Hung Phuoc 4 Street, Ho Chi Minh VN <br>
          Telephone: (84)35678-2345</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
          <hr class="primary">
          <div class="col-lg-6 col-lg-offset-3 text-center">
            <p>© 2010 SHARE co.ltd. <br>
            All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
</section>
